html,
body {
  height: 100%;
  overflow: hidden;
}

.home-container-with-bg-img {
    left: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-image: url("https://images.unsplash.com/photo-1557683311-eac922347aa1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1129&q=80");
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 4em;
}

p {
    font-size: 2em;
}

.home-block {
    color: white;
    margin-top: 15%;
}

model-viewer {
    width: 800px;
    height: 600px;
}