html,
body {
  height: 100%;
  overflow: hidden;
}

/*
.home-info {
    position: absolute;
    color: white;
    padding: 2rem;
    margin-top: 50%;
}

@media screen and (min-width: 768px) {
  .home-info {
    margin-top: 20%;
    padding: 5rem;
  }
}
    */

.home-container-with-bg-img {
    left: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-image: url("https://source.unsplash.com/WEQbe2jBg40/600x1200");
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 4em;
}

p {
    font-size: 2em;
}

.home-block {
    color: white;
    margin-top: 15%;
}