html,
body {
  height: 100%;
  overflow: hidden;
}

.bg-image {
  background-image: url("https://source.unsplash.com/WEQbe2jBg40/600x1200");
  background-size: cover;
  background-position: center;
}
.home-container {
  position: relative;
}
.home-img {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.home-info {
  position: absolute;
  color: white;
  padding: 2rem;
  margin-top: 50%;
}

@media screen and (min-width: 768px) {
  .home-info {
    margin-top: 20%;
    padding: 5rem;
  }
}
