.wrapper {
  min-height: calc(100vh - 67px);
}

.cy {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.schemaBtn {
  position: absolute;
  top: 10px;
}

.formRelation {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}

.helpContainer {
  padding: .75rem 1rem;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid darkgray;
}

.helpContainer p {
  margin-bottom: 0;
  font-weight: 600;
}

.helpContainer .aff:before {
  margin-right: 0.3rem;
  display: inline-flex;
  height: 14px;
  width: 14px;
  border: 1px solid black;
  content: "";
  background-color: red;
  opacity: 0.6;
}

.helpContainer .neutral:before {
  background-color: blue;
}

.helpContainer .ally:before {
  background-color: green;
  margin-bottom: 1rem;
}

.helpContainer .priv:before {
  margin-right: 0.3rem;
  display: inline-flex;
  height: 10px;
  width: 20px;
  background: gray;
  content: "";
  opacity: 0.6;
}

.helpContainer .private:before{
  background: repeating-linear-gradient(to left,
  #808080,
  #808080 8px,
  transparent 8px,
  transparent 10px);
}

.helpContainer .secret:before{
  background: repeating-linear-gradient(to left,
  #808080,
  #808080 3px,
  transparent 3px,
  transparent 5px);
}