.wrapper {
  min-height: calc(100vh - 67px);
}

.cy {
  height: 100%;
}

.schemaBtn {
  position: absolute;
  top: 10px;
}

.formRelation{
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}

.help-affinity {
  padding: .75rem 1rem;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid darkgray;
}

.help-affinity p {
  margin-bottom: 0;
  font-weight: 600;
}

.help-affinity p:before{
  margin-right: 0.3rem;
  display: inline-flex;
  height: 16px;
  width: 16px;
  border-radius: 50px;
  border: 1px solid black;
  content: "";
  background-color: red;
  opacity: 0.6;
}

.help-affinity .neutral:before{
  background-color: blue;
}

.help-affinity .ally:before{
  background-color: green;
}